/**
 * ----------------------------------------------------------------------------------------
 * Author : Alain Guillon
 * Students Github : https://github.com/alain-guillon-it
 * Personal Github : https://github.com/Zyrass
 * Date : 30/12/2022
 * Version : Alpha 0.0.1
 * Licence : MIT
 * ----------------------------------------------------------------------------------------
 **/

/**
 * ========================================================================================
 * FOOTER
 * ========================================================================================
 */
footer {
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/**
 * ========================================================================================
 * FOOTER FIGURE
 * ========================================================================================
 */
footer figure {
  padding: 75px;
}
/**
 * ========================================================================================
 * FOOTER FIGURE
 * ========================================================================================
 */
footer figure img {
  max-height: 300px;
}

/**
 * ========================================================================================
 * FOOTER DIV
 * ========================================================================================
 */
footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-black);
  color: var(--text-light);
  width: 100%;
  padding: 16px 0;
}

/**
 * ========================================================================================
 * FOOTER DIV SPAN
 * ========================================================================================
 */
footer div span {
  padding: 8px 0;
}
