/**
 * ----------------------------------------------------------------------------------------
 * Author : Alain Guillon
 * Students Github : https://github.com/alain-guillon-it
 * Personal Github : https://github.com/Zyrass
 * Date : 30/12/2022
 * Version : Alpha 0.0.1
 * Licence : MIT
 * ----------------------------------------------------------------------------------------
 **/

/**
 * ========================================================================================
 * MAIN
 * ========================================================================================
 */
main {
  background-color: var(--bg-secondary);
  color: var(--text-light);
}

/**
 * ========================================================================================
 * MAIN ARTICLE ERROR
 * ========================================================================================
 */
main article.error {
  height: 100%;
  background-color: var(--bg-danger);
  color: var(--text-danger);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main article.error h1 {
  font-size: calc(69px + 1vmin);
  margin-bottom: 25px;
}
main article.error p {
  text-align: center;
  max-width: 400px;
  font-size: calc(16px + 1vmin);
  letter-spacing: 1.6px;
}

/**
 * ========================================================================================
 * MAIN ARTICLE H1
 * ========================================================================================
 */
main article h1 {
  padding: 100px 0 25px;
  text-align: center;
  font-size: calc(32px + 4vmin);
  text-transform: uppercase;
}

/**
 * ========================================================================================
 * MAIN ARTICLE P
 * ========================================================================================
 */
main article > p {
  padding: 0 50px 100px;
  text-align: center;
  font-size: calc(16px + 1vmin);
}

/**
 * ========================================================================================
 * MAIN ARTICLE A
 * ========================================================================================
 */
main article > a {
  display: block;
  text-align: center;
  padding: 16px;
  border: 2px solid var(--link);
  border-radius: 8px;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 0.4s, color 0.4s;
  width: 300px;
  margin: 0 auto 25px;
}
main article > a:hover {
  border: 2px solid var(--light);
  background-color: var(--bg-secondary-2);
  color: var(--bg-secondary);
}

/**
 * ========================================================================================
 * MAIN ARTICLE SECTION
 * ========================================================================================
 */
main article section {
  padding: 100px 50px;
}
main article section h2 {
  font-size: calc(32px + 1vmin);
  padding-bottom: 50px;
  text-align: center;
}
main article section:nth-child(odd) {
  background-color: var(--bg-light);
}
main article section:nth-child(odd) h2 {
  color: var(--text-secondary);
}

main article section div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 25px;
  row-gap: 25px;
  max-width: 80%;
  margin: 0 auto;
}

main article section div a {
  height: 550px;
}

main article section div figure {
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  max-width: 300px;
}

main article section div figure img {
  height: 450px;
  width: 100%;
  filter: grayscale(100%);
  transition: filter 0.4s;
}
main article section div a figure:hover img {
  filter: grayscale(0%);
}
main article section div figure figcaption {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
}
main article section:nth-child(odd) div figure {
  border: 12px solid var(--bg-secondary);
}
main article section:nth-child(odd) div figure figcaption {
  background-color: var(--bg-secondary);
}
main article section:nth-child(even) div figure {
  border: 12px solid var(--bg-light);
}
main article section:nth-child(even) div figure figcaption {
  background-color: var(--bg-light);
  color: var(--text-secondary);
}

main article section footer {
  background-color: var(--bg-info);
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 0;
  border-radius: 8px;
  text-transform: uppercase;
  color: var(--text-info);
  font-weight: 700;
  border: 4px solid var(--info-2);
}

main article section footer:hover {
  background-color: var(--bg-secondary-2);
  color: var(--text-info);
  border: 4px solid var(--info-2);
}