/**
 * ----------------------------------------------------------------------------------------
 * Author : Alain Guillon
 * Students Github : https://github.com/alain-guillon-it
 * Personal Github : https://github.com/Zyrass
 * Date : 30/12/2022
 * Version : Alpha 0.0.1
 * Licence : MIT
 * ----------------------------------------------------------------------------------------
 **/

/**
 * ========================================================================================
 * MAIN
 * ========================================================================================
 */
main {
  background-color: var(--bg-secondary);
  color: var(--text-light);
}

/**
 * ========================================================================================
 * MAIN ARTICLE ERROR
 * ========================================================================================
 */
article.error {
  height: 100%;
  background-color: var(--bg-danger);
  color: var(--text-danger);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
article.error h1 {
  font-size: 69px;
  margin-bottom: 25px;
}
article.error p {
  text-align: center;
  max-width: 400px;
  font-size: calc(16px + 1vmin);
  letter-spacing: 1.6px;
}
