/**
 * ----------------------------------------------------------------------------------------
 * Author : Alain Guillon
 * Students Github : https://github.com/alain-guillon-it
 * Personal Github : https://github.com/Zyrass
 * Date : 30/12/2022
 * Version : Alpha 0.0.1
 * Licence : MIT
 * ----------------------------------------------------------------------------------------
 **/

/**
 * ========================================================================================
 * HEADER
 * ========================================================================================
 */
header {
  grid-area: headerContainer;
  background-color: var(--bg-black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
  border-bottom: 2px solid var(--light);
}

/**
 * ========================================================================================
 * HEADER SPAN
 * ========================================================================================
 */
header span {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text-light);
  padding-left: 10px;
}

/**
 * ========================================================================================
 * HEADER NAV
 * ========================================================================================
 */
header nav {
  height: 100%;
  display: flex;
}

/**
 * ========================================================================================
 * HEADER NAV A
 * ========================================================================================
 */
header nav a {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  padding: 0 8px;
  color: var(--text-light);
  transition: color 0.4s, background-color 0.4s;
}
header nav a:hover,
header nav a.active {
  background-color: var(--bg-light);
  color: var(--text-secondary);
}
